<div class="carousel-container">
<div class="carousel-inner rounded-5 shadow-4-strong">
    <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'" [dark]="true">
      <mdb-carousel-item>
        <img
          src="https://imgur.com/SPCqwt5.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Rufy Gear 5</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </mdb-carousel-item>
  
      <mdb-carousel-item>
        <img
          src="https://imgur.com/JwIZ6SG.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Roronoa Zoro</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </mdb-carousel-item>
  
      <mdb-carousel-item>
        <img
          src="https://imgur.com/aKPYQPS.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Sanji</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>